* {
    margin: 0;
    padding: 0;
}

main {
    height: 600px;
    width: 600px;
    background-color: black;
}

.row-1 {
    display: flex;
    width: 600px;
    height: 300px;
}

.part-1 {
    display: flex;
    width: 300px;
    height: 300px;
}

.part-2 {
    display: flex;
    width: 300px;
    height: 300px;
}

.col {
    width: 150px;
    height: 300px;
}

.col-2 {
    width: 150px;
    height: 300px;
    /* display: flex; */

}


.row-2 {
    display: flex;
    width: 600px;
    height: 300px;
}

.part-3 {
    display: flex;
    width: 300px;
    height: 300px;
}
.col-1 {
    display: flex;
    width: 150px;
    height: 150px;
}

/* .col-2 {
    width: 300px;
    height: 300px; 
} */
.col-3 {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: wheat;
}

.col-4 {
    display: flex;
    width: 300px;
    height: 300px;
    background-color: gray;
}

.first-col {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: aliceblue;
}

.sec-col {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: red;
}


.third-col {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: blue;
}

.four-col {
    display: flex;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
}